<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-5-desktop is-4-widescreen">
          <h2 class="title has-text-centered">Edit Profile <%= resource_name.to_s.humanize %></h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="field">
              <label for="" class="label">Full Name</label>
              <div class="control has-icons-left">
                <%= f.text_field :full_name, autofocus: true, placeholder: current_user.full_name, autocomplete: "Full Name", class: 'input' %>
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <%= f.email_field :email, autofocus: true, placeholder: current_user.email, autocomplete: "email", class: 'input' %>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">New Password</label>
              
              <div class="control has-icons-left">
                <span class="has-text-danger"><i>(leave blank if you don't want to change it)</i></span><br />
                <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
                
              </div>
            </div>
            
            <div class="field">
              <%= f.submit "Update Profile", class: "button is-success is-fullwidth" %>
            </div>
            <div class="field">
              <%= link_to "Back", :back, class: "button is-warning is-fullwidth" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
