<nav class="navbar is-white has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
       
        <%= image_tag 'homeImprovements.png', width: "40", height: "37" %>
    </a>
    <div class="navbar-burger" data-target="navMenuColorlink-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuColorlink-example" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="#">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          All Tests
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="#">
            Test
          </a>
          <a class="navbar-item" href="#">
            Test 2
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <% if (!user_signed_in?) %>
          <div class="field is-grouped">
            <p class="control">
              <%= link_to 'Login', new_user_session_path, class: "button is-primary is-light" %>
            </p>
            <p class="control">
              <%= link_to 'Login', new_user_registration_path, class: "button is-primary is-light" %>
            </p>
          </div>
        <% else %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="#">
              <%= current_user.email %>
            </a>
            <div class="navbar-dropdown">
              <%= link_to 'Profile', edit_user_registration_path, class: "navbar-item" %>
              <a class="navbar-item" href="#">
                Dashboard
              </a>
              <hr class="navbar-divider">
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "navbar-item" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', () => {

  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  if ($navbarBurgers.length > 0) {
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }

});
</script>