<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12-tablet is-9-desktop is-9-widescreen">
          <% @projects.each do |project| %>
            <div class="form-layout mb-5">
                <div class="form-outer">
                  <div class="form-header">
                    <div class="form-header-inner">
                      <div class="left">
                        <%= link_to edit_project_path(project) do %>
                          <h2 class="title is-4"><%= project.name.titleize %></h2>
                        <% end %>
                        
                      </div>
                      <div class="right">
                        <div class="buttons">
                          <%= link_to "View Comments", project_path(project), class: "button is-primary is-small" %>
                        
                          <%= link_to project.status.humanize, 
                                              edit_project_path(project), 
                                              class: "button is-outlined is-small #{project_status(project.status)}" %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box is-shadowless">
                    <div class="columns mt-5 mb-4">
                      <div class="column is-7 pt-0">
                        <div class="card is-shadowless">
                          <header class="card-header is-shadowless p-1">
                            <span class="icon"><i class="fas fa-user"></i></span>
                            <p class="card-header-title p-0">
                            <%= project.user.full_name %> | <span class="icon"><i class="far fa-clock"></i></span> <%= project.created_at.strftime('%d, %b %Y')%>
                            </p>
                          </header>
                          <div class="card-content p-1">
                            <div class="content">
                              <%= project.description %>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                      <div class="columns is-mobile p-2">
                        <div class="column">
                          <div class="box effort-box">
                            <p>Estimated level of effort</p>
                            <p class="effort-num">
                              <%= project.estimated_effort %>
                            </p>
                          </div>
                        </div>
                        <div class="column">
                          <div class="box effort-box">
                            <p>Actual level<br /> of effort</p>
                              <p class="effort-num has-text-success">
                                <% unless project.status != 'Completed' %>
                                  <%= project.estimated_effort %>
                                <% end %>
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

