<section class="section" data-channel-subscribe="project" data-project-id="<%= @project.id %>">
  <div class="container">
    <div class="columns">
      <div class="column">
        <article class="panel is-success is-light">
          <p class="panel-heading">
            <%= @project.name %>
          </p>
          
          
          <a class="panel-block">
            <strong>Project Owner:</strong> <%= @project.user.full_name %>
          </a>
          <a class="panel-block">
            <strong>Project ID:</strong> <%= @project.id %>
          </a>
          <a class="panel-block">
            <strong>Estimated Effort:</strong> <%= @project.estimated_effort %>
          </a>
          <a class="panel-block">
            <strong>Created On:</strong> <%= @project.created_at.strftime('%d, %b %Y') %>
          </a>
        </article>
      </div>
      <div class="column is-two-thirds">
        <p class="menu-label">
          Project Comments
        </p>
        <hr>
        <div id="comment-list">
          <% @comments.each do |c| %>
            <%= render 'comment', comment: c %>
          <% end %>
        </div>
        <hr>
        <article class="media">
          <figure class="media-left image is-64x64 mr-2">
            <%= image_tag avatar_url(current_user), class: 'is-rounded'%>
          </figure>
          <div class="media-content">
            <%= form_with model: Comment.new, id: "new-comment" do |f| %>
              <%= f.hidden_field :project_id, value: @project.id %>
              <div class="field">
                <%= f.text_area :content, class: 'textarea', placeholder: "Make a comment..." %>
              </div>
              <div class="field is-pulled-right">
                <%= f.submit "Post Comment", class: 'button is-primary' %>                          
              </div>
            <% end %>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>