<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
        <p class="menu-label">
          Project Comments
        </p>
        <hr>
        <div id="#comment-list">
        </div>
        <hr>
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">                            
              <img src="https://i.pravatar.cc/200" class = "is-rounded">
            </p>
          </figure>
          <div class="media-content">
            <div class="field">
              <textarea class="textarea"></textarea>
            </div>
            <div class="field is-pulled-right">
              <button class="button is-primary">Post comment</button>                            
            </div>
          </div>
        </article>
      </div>
      <div class="column">
        <div class="card">
          
          <div class="card-content">
            <p>
              <strong><%= @project.name %></strong>
            </p>
            <br><br>
            <small>
              <p><strong>Project Owner: </strong><%= @project.user.full_name %></p>
              <br>
              <p><strong>Project ID: </strong><%= @project.id %></p>
              <br>
              <p><strong>Estimated Effort: </strong><%= @project.estimated_effort %></p>
              <br>
              <p><strong>Created On: </strong><%= @project.created_at.strftime('%d, %b %Y') %></p>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>